@font-face {
  font-family: Centra;
  src: url(//db.onlinewebfonts.com/c/229a57bbeef591e04a1fdfe347c90864?family=Centra+No2);
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url(//db.onlinewebfonts.com/c/1d8aa3902ed39929de0912f0ff2bb89f?family=Centra+No2);
  font-weight: 700;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #ffffff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}
/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: padding 0.32s ease-in-out, background-color 0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 15px 0;
  background-color: #121212;
}

nav.navbar .navbar-brand img {
  width: auto;
  height: 40px; /* Adjust height as needed */
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 20px;
  font-size: 16px; /* Adjust font size as needed */
  opacity: 0.75;
  transition: opacity 0.3s ease-in-out;
}

nav.navbar .navbar-nav .nav-link.navbar-link:hover,
nav.navbar .navbar-nav .nav-link.navbar-link.active {
  opacity: 1;
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 30px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: color 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #121212;
}

.social-icon a img {
  width: 100%; /* Adjust as needed */
  transition: filter 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-toggler-icon {
  width: 24px;
  height: 3px; /* Adjust height as needed */
  background-color: #fff;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon:after,
.navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 3px; /* Adjust height as needed */
  background-color: #fff;
  content: '';
  transition: transform 0.3s ease-in-out;
}

.navbar-toggler-icon:after {
  top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/background_1.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  /*background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);*/
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/************ UserPage Css ************/
.table {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-color: #c1d7aa;
  /*background-image: url('./assets/backgroundgalaxy.jpg');*/
  /*background-position: top center;*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/

}
/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&family=Open+Sans:wght@300&display=swap');*/
/*@import 'bootstrap/dist/css/bootstrap.min.css';*/

/*body {*/
/*    margin: 0;*/
/*    font-family: 'Poppins', sans-serif;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/

/*}*/

/*code {*/
/*    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",*/
/*    monospace;*/
/*}*/

/*button {*/
/*    position: center;*/
/*    background-color: cornflowerblue;*/
/*    color: white;*/
/*}*/


/************ Form Upload Study Material ************/

.create_form{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #121212;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/background_2.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper_createStudyMaterial{
  height: 400px;
  width: 650px;
  size: auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgb(0 0 0 / 10%);
  align-items: self-start;
  display: flex;
  align-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
.wrapper header{
  font-size: 50px;
  color: darkblue;
  font-weight: 600;
}

#title{
  margin-top: 30px;
}

#postBtn{
  margin-top: 50px;
  color: white;
  background-color: coral;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 60px;
}

#title{
  margin-left: 60px;
  color: coral;
  font-weight: bold;
  font-size: large;
}

#category{

}

/************ Login ************/
.logincard{
  margin-top: 200px;
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 20px;
  align-content: center;
  align-items: center;

}

/************ Event Cards ************/
.wrapperCards {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
}

.eventCard {
  overflow: hidden;
  box-shadow: 0 2px 20px slategray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}
.card__image {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.card__title {
  padding: 1rem;
}

.card__description {
  padding: 0 1rem;
}

.card__btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid royalblue;
  background: transparent;
  color: royalblue;
  border-radius: 5px;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.card__body:hover {
  transform: scale(1.02);
}

/*.card__body:hover card__btn {*/
/*             background: royalblue;*/
/*             color: white;*/
/*         }*/

/************ MyEvents ************/
#sectionComponent{
  padding-top: 200px;
}

#happyPanda{
  position: center;
}